<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="container-fluid">
      <a routerLink="home" class="navbar-brand" href="#">
        <img src="../assets/img/education.png" class="navbar-brand-img " style ="width: 30px; height: 30px;"alt="main_logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="home"  routerLinkActive="active"aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a  routerLink="about"  class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a  routerLink="/pageformation"  class="nav-link" >Courses</a>
          </li>
          <li class="nav-item" *ngIf="menuType==='default'">
            <a  routerLink="/pageformateur"  class="nav-link">Instructors</a>
          </li>
          <li class="nav-item" *ngIf="menuType==='seller'">
            <a  routerLink="afficheforma"  class="nav-link">mes Formations</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
        </form>
        <div [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'" class="navbar-nav ">
            <li class="nav-item">
                <a routerLink="login" class="nav-link" href="#">Sign In</a>
            </li><li class="nav-item">
                <a  class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#joinModal">Join In For Free</a>
            </li>
          </ul>

          <ul *ngSwitchCase="'seller'" class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" (click)="logout()">Logout</a>
            </li><li class="nav-item">
                <a routerLink="freejoin" class="nav-link" href="#">{{ userFirstName}}</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </nav>
  <!-- Modal HTML structure -->
<div class="modal fade" id="joinModal" tabindex="-1" aria-labelledby="joinModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title" id="joinModalLabel"style="font-size:1.6em">Sign up with your organization</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
          </div>
          <div class="modal-body">
              <!-- Add your modal content here -->
              <!-- For example, a form to collect user details -->
              <form>
                  <div class="mb-3">
                    
                      <label for="organization" class="form-label">ENTER YOUR ORGANIZATION URL
                      </label>
                      <input type="text" class="form-control" id="organization" placeholder="(ex: company.com or company.org)">

                    </div>
                    <button type="button" class="btn btn-primary ">Continue</button>

                  <!-- Add more form fields as needed -->
              </form>
          </div>
          <div class="modal-footer">
            <div>
              <p class="mb-3">Back To 
                  <a routerLink="/register" href="#" class="text-black-50 fw-bold">Sign Up</a>
              </p>
            </div>
           </div>
      </div>
  </div>
</div>
