<div class="card-header pb-0">
  <h6>Authors table</h6>
</div>
<div class="card-body px-0 pt-0 pb-2">
  <div class="table-responsive p-0">
    <form (ngSubmit)="addFormation()">
      <div class="mb-3">
        <label for="titre" class="form-label">Titre</label>
        <input type="text" class="form-control" id="titre" [(ngModel)]="formation.titre" name="titre" required>
      </div>
      <div class="mb-3">
        <label for="programme_detaille" class="form-label">Programme détaillé</label>
        <input type="text" class="form-control" id="programme_detaille" [(ngModel)]="formation.programmeDetaille" name="programme_detaille" required>
      </div>
      <div class="mb-3">
        <label for="objectifs" class="form-label">Objectifs</label>
        <input type="text" class="form-control" [(ngModel)]="formation.objectifs" name="objectifs">
      </div>
      <div class="mb-3">
        <label for="nombre_heures" class="form-label">Nombre d'heures</label>
        <input type="text" class="form-control" [(ngModel)]="formation.nombreHeures" name="nombre_heures">
      </div>
      <div class="mb-3">
        <label for="cout" class="form-label">Coût</label>
        <input type="text" class="form-control" [(ngModel)]="formation.cout" name="cout">
      </div>
      <div class="mb-3">
        <label for="categorie" class="form-label">Catégorie</label>
        <select class="form-select" id="categorie" [(ngModel)]="formation.categorie_id" name="categorie_id" required>
          <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.nomCategorie }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="img" class="form-label">Image</label>
        <input type="text" class="form-control" [(ngModel)]="formation.img" name="img">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<!--<form [formGroup]="formationForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="titre">Titre:</label>
    <input type="text" id="titre" formControlName="titre" required>
  </div>

  <div>
    <label for="nombreHeures">Nombre d'heures:</label>
    <input type="number" id="nombreHeures" formControlName="nombreHeures" required>
  </div>

  <div>
    <label for="cout">Coût:</label>
    <input type="number" id="cout" formControlName="cout" required>
  </div>

  <div>
    <label for="objectifs">Objectifs:</label>
    <textarea id="objectifs" formControlName="objectifs" required></textarea>
  </div>

  <div>
    <label for="programmeDetaille">Programme détaillé:</label>
    <textarea id="programmeDetaille" formControlName="programmeDetaille" required></textarea>
  </div>

  <div>
    <label for="img">Image URL:</label>
    <input type="text" id="img" formControlName="img" required>
  </div>

 <div>
  <label for="idCategorie">Categorie:</label>
  <select id="idCategorie" formControlName="idCategorie" required>
    <option *ngFor="let categorie of categories" [value]="categorie.id">{{ categorie.nom }}</option>
  </select>
</div>



  <button type="submit">Add Formation</button>
</form>-->


