


<div class="card-header pb-0">
    <h6>Authors table</h6>
  </div>
  <div class="card-body px-0 pt-0 pb-2">
    <div class="table-responsive p-0">
        <form (ngSubmit)="addFormation()">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">titre</label>
              <input type="text" class="form-control" id="nom" [(ngModel)]="formation.titre" name="nom" required>
              
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">programme_detaille</label>
                <input type="text" class="form-control" id="competences" [(ngModel)]="formation.programmeDetaille" name="competences" required>
                
              </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">objectifs</label>
              <input type="text" class="form-control" [(ngModel)]="formation.objectifs" name="remarques">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">nombre_heures</label>
              <input type="text" class="form-control" [(ngModel)]="formation.nombreHeures" name="remarques">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">cout</label>
              <input type="text" class="form-control" [(ngModel)]="formation.cout" name="remarques">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Image</label>
              <input type="text" class="form-control"  [(ngModel)]="formation.img" name="img" >
              
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
  </div>
