<!--<div class="card-header pb-0">
  <h6>Authors table</h6>
</div>
<div class="card-body px-0 pt-0 pb-2">
  <div class="table-responsive p-0">
    <form (ngSubmit)="addFormation()">
      <div class="mb-3">
        <label for="titre" class="form-label">Titre</label>
        <input type="text" class="form-control" id="titre" [(ngModel)]="formation.titre" name="titre" required>
      </div>
      <div class="mb-3">
        <label for="programme_detaille" class="form-label">Programme détaillé</label>
        <input type="text" class="form-control" id="programme_detaille" [(ngModel)]="formation.programmeDetaille" name="programme_detaille" required>
      </div>
      <div class="mb-3">
        <label for="objectifs" class="form-label">Objectifs</label>
        <input type="text" class="form-control" [(ngModel)]="formation.objectifs" name="objectifs">
      </div>
      <div class="mb-3">
        <label for="nombre_heures" class="form-label">Nombre d'heures</label>
        <input type="text" class="form-control" [(ngModel)]="formation.nombreHeures" name="nombre_heures">
      </div>
      <div class="mb-3">
        <label for="cout" class="form-label">Coût</label>
        <input type="text" class="form-control" [(ngModel)]="formation.cout" name="cout">
      </div>
      <div class="mb-3">
        <label for="categorie" class="form-label">Catégorie</label>
        <select class="form-select" id="categorie" [(ngModel)]="formation.categorie_id" name="categorie_id" required>
          <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.nomCategorie }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="img" class="form-label">Image</label>
        <input type="text" class="form-control" [(ngModel)]="formation.img" name="img">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
-->
<div>
  <label for="titre">Titre:</label>
  <input id="titre" [(ngModel)]="formation.titre" />

  <label for="nombreHeures">Nombre d'heures:</label>
  <input id="nombreHeures" [(ngModel)]="formation.nombreHeures" type="number" />

  <label for="cout">Cout:</label>
  <input id="cout" [(ngModel)]="formation.cout" type="number" />

  <label for="objectifs">Objectifs:</label>
  <textarea id="objectifs" [(ngModel)]="formation.objectifs"></textarea>

  <label for="programmeDetaille">Programme Détaille:</label>
  <textarea id="programmeDetaille" [(ngModel)]="formation.programmeDetaille"></textarea>

  <label for="img">Image URL:</label>
  <input id="img" [(ngModel)]="formation.img" />

  <label for="categorie">Choose a Category:</label>
  <select id="categorie" [(ngModel)]="selectedCategoryId">
    <option *ngFor="let category of categories" [value]="category.id">{{ category.id }}</option>
  </select>

  <button (click)="ajouterFormation()">Ajouter Formation</button>
</div>