
<br><br><br>
<table class="table">
    <thead class="thead-dark" style="background-color: #cb0c9f ;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titre</th>
        <th scope="col">Objectif</th>
        <th scope="col">Programme_Detaille</th>
        <th scope="col">Heures</th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let formation of formations">
        <th scope="row">{{ formation.id }}</th>
        <td>{{ formation.titre }}</td>
        <td>{{ formation.objectifs }}</td>
        <td>{{ formation.programmeDetaille }}</td>
        <td>{{ formation.nombreHeures }}</td>
      </tr>
    </tbody>
  </table>
  
  

  
  