
          <div class="card-header pb-0">
            <h6 class="fs-4 fw-bolder">Formateur table 

              <a routerLink="/dashboard/Formateur/form" routerLinkActive="active" href="#" class="btn btn-primary" tabindex="-1" aria-disabled="true" role="button" data-bs-toggle="button" style="margin-left: 600px;">Add Formateur</a>
            </h6>
            
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nom</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Competences</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Remarques</th>
                    <th class="text-secondary opacity-7"></th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let student of formateurs">
                    <td>
                      <div class="d-flex px-2 py-1">
                        
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{ student.nom }}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">{{ student.competences }}</p>
                      
                    </td>
                    <td class="align-middle text-center text-sm">
                      <h6 class="mb-0 text-sm">{{ student.remarques }}</h6>
                    </td>
                    <td class="align-middle">
                      <a href="javascript:;" class="font-weight-bold text-xs btn btn-bleu" data-toggle="tooltip" data-original-title="Delete user"
                        (click)="deleteFormateur(student.id)">
                        Delete
                      </a>
                    </td>
                    <td class="align-middle">
                      <a href="javascript:;" class="font-weight-bold text-xs btn btn-primary" data-toggle="tooltip" data-original-title="Edit user"
                        (click)="editFormateur(student.id)">
                        Edit
                      </a>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        