


          <div class="card-header pb-0">
            <h6>Authors table</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
                <form (ngSubmit)="addFormateur()">
                    <div class="mb-4">
                      <label for="exampleInputEmail1" class="form-label">Nom</label>
                      <input type="text" class="form-control" id="nom" [(ngModel)]="formateur.nom" name="nom" required>
                      
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">competences</label>
                        <input type="text" class="form-control" id="competences" [(ngModel)]="formateur.competences" name="competences" required>
                        
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">remarques</label>
                      <input type="text" class="form-control" [(ngModel)]="formateur.remarques" name="remarques">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">image</label>
                      <input type="text" class="form-control" [(ngModel)]="formateur.img" name="img">
                    </div>
                   
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
          </div>
       