<br>
<div class="container marketing">
  <h1 class="text-center">Our Formateurs</h1>
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4 text-center" *ngFor="let student of formateurs.slice(0,3)">
      <!-- Replace the SVG with an IMG element -->
      <img src="https://cdn-icons-png.flaticon.com/512/4042/4042356.png"  width="140" height="140" class="bd-placeholder-img rounded-circle mx-auto">

      <h2  class="text-center">{{ student.nom }}</h2>
      <p>{{ student.competences }}</p>
      <p>{{ student.remarques }}</p>
      <p><a routerLink="/formateur" class="btn btn-secondary" href="#">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div>
</div>
<br>
<br>
<br>
<br>
