<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        *ngFor="let student of formations; let i = index"
        type="button"
        data-bs-target="#myCarousel"
        [attr.data-bs-slide-to]="i"
        [class.active]="i === 0"
        [attr.aria-label]="'Slide ' + (i + 1)"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let student of formations.slice(0,3); let i = index" [class.active]="i === 0">
        <!-- Your existing slide content goes here -->
        <img id="img" src="{{ student.img }}" class="d-block w-100" alt="Slide {{ i + 1 }}">
        <div class="container">
          <div class="carousel-caption text-start">
            <p><a class="btn btn-lg btn-primary" [routerLink]="['/dettailformation', student.id]" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  