<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
  <style>
      .background-radial-gradient {
          background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_HNtF13SocaF--xXLBRMSXYYHgr5wW60dohIhxpMISqrtlZvg');
          background-size: cover;
          backdrop-filter: blur(50px); /* Adjust the blur value as needed */
      }

      .bg-glass {
          background-color: hsla(0, 0%, 100%, 0.9) !important;
          backdrop-filter: saturate(200%) blur(25px);
      }
  </style>

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
          <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
              <div class="card bg-glass">
                  <div class="card-body px-4 py-5 px-md-5">
                      <form (ngSubmit)="register()">
                          <h1 class="text-center"> SIGN UP</h1>
                          <!-- 2 column grid layout with text inputs for the first and last names -->
                          <div class="row">
                              <div class="col-md-6 mb-4">
                                  <div class="form-outline">
                                      <input type="text" id="form3Example1" class="form-control" [(ngModel)]="user.firstname" name="firstname" required>
                                      <label class="form-label" for="form3Example1">First name</label>
                                  </div>
                              </div>
                              <div class="col-md-6 mb-4">
                                  <div class="form-outline">
                                      <input type="text" id="form3Example2" class="form-control" [(ngModel)]="user.lastname" name="lastname" required>
                                      <label class="form-label" for="form3Example2">Last name</label>
                                  </div>
                              </div>
                          </div>

                          <!-- Email input -->
                          <div class="form-outline mb-4">
                              <input type="email" id="form3Example3" class="form-control" [(ngModel)]="user.email" name="email" required>
                              <label class="form-label" for="form3Example3">Email address</label>
                          </div>

                          <!-- Password input -->
                          <div class="form-outline mb-4">
                              <input type="password" id="form3Example4" class="form-control" [(ngModel)]="user.password" name="password" required>
                              <label class="form-label" for="form3Example4">Password</label>
                          </div>

                          <!-- Submit button -->
                          <button type="submit" class="btn btn-primary btn-block mb-4">
                              Sign up
                          </button>

                          <!-- Register buttons -->
                          <div class="text-center">
                              <p>or sign up with:</p>
                              <button type="button" class="btn btn-link btn-floating mx-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-google mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
                              </button>

                              <button type="button" class="btn btn-link btn-floating mx-1">
                              
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
                                </button>
                              <button type="button" class="btn btn-link btn-floating mx-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                            </button>
                          </div>
                          <div>
                              <p class="mb-0">Already have an account?
                                  <a routerLink="/login" href="#" class="text-black-50 fw-bold">Sign In </a>
                              </p>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
